# trivial gitignore file
.cabal-sandbox/
cabal.sandbox.config
cabal-dev/
Cabal/dist/
Cabal/tests/Setup
cabal-install/dist/
cabal-install/tests/PackageTests/*/dist/
.hpc/
*.hi
*.o
*.p_hi
*.prof
*.tix
cabal.config
dist-sandbox
dist

# editor temp files

*#
.#*
*~
.*.swp

# GHC build

Cabal/GNUmakefile
Cabal/dist-boot/
Cabal/dist-install/
Cabal/ghc.mk


# TAGS files
TAGS
tags

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
